<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Title</title>
    <style>
        .main.container{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="ui invert fixed menu">
        <div class="header item">Tutoriel</div>
    </div>
    <div id="app" class="ui main container">
        <a v-bind:href="link" :title="message">{{ message }}</a>
    </div>
    <div id="message">
<!--        <input type="text" v-bind:value="message">-->
        <!--                :class="{success: success, error: !success}"-->
        <input type="text" v-model="message">
        <input type="checkbox" v-model="cls" :true-value="'success'" :false-value="'error'">
        <div
                class="ui message"
                :class="cls"
                v-if="success"
        >
            <i class="close icon" @click="close"></i>
            <p>{{ message }}</p>
        </div>
    </div>

    <ul id="list">
        <button @click="addPerson()">Ajout d'une personne</button>
        <li v-for="person in persons">{{ person }}</li>
    </ul>

    <div id="timer">
        {{ seconds }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/App.js"></script>
</body>
</html>